<div class="ms-check">
  <input class="form-check-input" type="checkbox" value="" id="checkDefault" [checked]="isChecked()"/>
</div>
<div class="ms-content">
  <div class="content-row">
    <h2 class="ms-title">{{mainService().name}}</h2>
    <div class="ms-price">{{mainService().price | currency: 'USD'}}</div>
  </div>
  <div class="content-row">
    <div class="ms-dur">{{mainService().durationTime | duration}}</div>
    <div class="ms-prtype">{{mainService().priceType}}</div>
  </div>
  <div class="content-row">
    <div class="ms-des">{{mainService().description}}</div>
  </div>
</div>
