.header-container {
  background: #767676;
  color: #fff;

  .header-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo img {
      height: 40px;
    }

    .spacer {
      flex: 1 1 auto;
    }
  }
}
