<div class="category-title-container" (click)="onClick()">
  <i class="bi bi-folder-fill"></i>
  <span class="category-name">{{ category().name }}</span>
  <div class="ms-auto d-flex gap-2">
    <button class="btn btn-sm btn-outline-success me-2" (click)="onCreateMainService($event)">+ Main Service</button>
    <button class="btn btn-sm btn-outline-warning me-2" (click)="onEditCategory($event)">Edit Category</button>
    <button class="btn btn-sm btn-outline-danger" (click)="onDeleteCategory($event)">Delete Category</button>
  </div>
</div>


@if (isTabOpen()) {
<table class="table table-hover table-borderless align-middle">
  <thead>
    <tr>
      <th scope="col" class="text-center">ID</th>
      <th scope="col" class="text-center">Service Name</th>
      <th scope="col" class="text-center">Price</th>
      <th scope="col" class="text-center">Price Type</th>
      <th scope="col" class="text-center">Duration</th>
      <th scope="col" class="text-center">Created At</th>
      <th scope="col" class="text-center">Created By</th>
      <th scope="col" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (mainService of category().mainServices; track mainService.id) {
    <tr>
      <th scope="row" class="text-center">{{ mainService.id }}</th>
      <td class="text-center">{{ mainService.name }}</td>
      <td class="text-center">{{ mainService.price | currency : "USD" }}</td>
      <td class="text-center">{{ mainService.priceType }}</td>
      <td class="text-center">{{ mainService.durationTime | duration }}</td>
      <td class="text-center">{{ mainService.createdAt | date : "short" }}</td>
      <td class="text-center">{{ mainService.createdBy }}</td>
      <td class="text-center">
        <button class="btn btn-sm btn-primary me-1" (click)="$event.stopPropagation(); detailMainService.emit(mainService)">Details</button>
        <button class="btn btn-sm btn-warning mx-1" (click)="$event.stopPropagation(); editMainService.emit(mainService)">Edit</button>
        <button class="btn btn-sm btn-danger ms-1" (click)="$event.stopPropagation(); deleteMainService.emit(mainService.id)">Delete</button>
      </td>
    </tr>
    }
  </tbody>
</table>
}


