.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px;
  background: #ababab;
}

.toggle-btn{
  cursor: pointer;
}

.header-text{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
}