<app-header />
<div class="content">
  <div class="step-view">
    <div class="step-number">Step {{ step() }} of 4</div>

    @switch ( step() ) { @case (1) {
    <div class="step-title">Select services</div>
    } @case (2) {
    <div class="step-title">Select staff</div>
    } @case (3) {
    <div class="step-title">Select time</div>
    } @case (4) {
    <div class="step-title">Review and confirm</div>
    } }
  </div>
  <div class="main-content">
    <div class="content-select">
      @switch ( step() ) { @case (1) {
      <app-select-services />
      } @case (2) {
      <app-select-staff />
      } @case (3) {
      <app-select-time />
      } @case (4) {
      <app-review-and-confirm [currentStep]="step()" (prevStep)="backStep()" />
      } }
    </div>
    @if (step() !== 4) {
    <div class="content-view">
      <app-booking-summary
        [currentStep]="step()"
        (nextStep)="nextStep()"
        (prevStep)="backStep()"
      />
    </div>
    }
  </div>
  @if (step() !== 4) {
  <div class="booking-nav">
    <app-booking-navi
      [currentStep]="step()"
      (nextStep)="nextStep()"
      (prevStep)="backStep()"
    />
  </div>
  }
</div>
<app-footer />
