.content {
  background: #f7f8fa;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px 0;
}

.content-select {
  width: 50%;
}

.content-view {
  position: sticky;
  top: 10px;
  z-index: 10;
  align-self: flex-start;
}
