<div class="category-wrapper">
  @if (showLeftArrow) {
  <span
    class="material-symbols-outlined scroll-btn left"
    (click)="scrollLeft()"
  >
    arrow_left_alt
  </span>
  }

  <div #categoryBar class="category-bar">
    @for (category of data; track $index) {
    <div
      class="category-item"
      [class.active]="$index === activeCategory()"
      (click)="onChangeCategory($index)"
    >
      {{ category.name }}
    </div>
    }
  </div>

  @if (showRightArrow) {
  <span class="material-symbols-outlined scroll-btn right" (click)="scrollRight()"> arrow_right_alt </span>
  }
</div>

<div class="service-list">
  <h5 class="category-title">
    {{ data[activeCategory()].name }}
  </h5>
  <div class="main-service-list">
    @for (mainService of data[activeCategory()].mainServices; track $index) {
    <app-main-service [mainService]="mainService" />
    }
  </div>
</div>
