:host {
  font-size: 1.4rem;
}

.category-wrapper {
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 0 10px;
  border-radius: 0.375rem;
}

.category-bar {
  display: flex;
  gap: 10px;
  padding: 15px;
  white-space: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}

.category-bar::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.category-item {
  padding: 10px 20px;
  border-radius: 99px;
  cursor: pointer;
  font-weight: 500;
  flex: 0 0 auto;
}

.category-item:hover {
  background-color: #afa7ff;
}

.category-item.active {
  background: #322a7d;
  color: #fff;
}

.scroll-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 2;
}

.scroll-btn.left {
  margin-right: 10px;
}

.scroll-btn.right {
  margin-left: 5px;
}

.category-title {
  padding: 15px 0;
  font-size: 2rem;
}

.main-service-list {
  background-color: #fff;
  border-radius: 0.375rem;
}
