
.categories {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  gap: 10px;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.categories button.active {
  background: purple;
  color: white;
  border-radius: 20px;
}

.service-list {

  overflow-y: scroll;
  scrollbar-width: none;
}

.category-section {
  padding: 20px 0;
}

h2{
  padding-left: 20px;
}
