<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Active</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @for (staff of pagedStaff; track staff.id) {
    <tr>
      <td>{{ staff.id }}</td>
      <td>{{ staff.name }}</td>
      <td>{{ staff.email }}</td>
      <td>{{ staff.role }}</td>
      <td>{{ staff.staffActive ? "Yes" : "No" }}</td>
      <td>
        <span class="material-symbols-outlined" title="Edit"> edit </span>
        <span class="material-symbols-outlined" title="Change password">
          vpn_key_alert
        </span>
        <span class="material-symbols-outlined" title="Delete"> delete </span>
      </td>
    </tr>
    }
  </tbody>
</table>

<div class="pagination">
  <span>Items per page</span>
  <select name="itemsPerPage" id="itemsPerPage" [(ngModel)]="itemsPerPage">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
  </select>
  <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
  <span>Page {{ currentPage }} / {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">
    Next
  </button>
</div>
