<table
  class="table table-hover table-striped table-bordered align-middle text-center shadow-sm"
>
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Active</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @for (staff of staffList(); track staff.id) {
    <tr>
      <td>{{ staff.id }}</td>
      <td>{{ staff.name }}</td>
      <td>{{ staff.email }}</td>
      <td>{{ staff.role }}</td>
      <td>
        <span
          class="badge"
          [class.bg-success]="staff.staffActive"
          [class.bg-danger]="!staff.staffActive"
        >
          {{ staff.staffActive ? "Yes" : "No" }}
        </span>
      </td>
      <td>
        <span
          class="material-symbols-outlined text-primary me-2"
          title="Edit"
          (click)="editStaff.emit(staff)"
        >
          edit
        </span>
        <span
          class="material-symbols-outlined text-warning me-2"
          title="Change password"
          (click)="changePassword.emit(staff)"
        >
          vpn_key_alert
        </span>
        <span
          class="material-symbols-outlined text-danger"
          title="Delete"
          (click)="deleteStaff.emit(staff)"
        >
          delete
        </span>
      </td>
    </tr>
    }
  </tbody>
</table>

<div class="pagination">
  <span>Items per page</span>
  <select
    name="itemsPerPage"
    id="itemsPerPage"
    [ngModel]="itemsPerPage()"
    (ngModelChange)="itemsPerPageChange.emit($event)"
  >
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
  </select>
  <button (click)="prev.emit()" [disabled]="currentPage() === 1">
    Previous
  </button>
  <span>Page {{ currentPage() }} / {{ totalPages() }}</span>
  <button (click)="next.emit()" [disabled]="currentPage() === totalPages()">
    Next
  </button>
</div>
