<div class="card p-3 none-border" style="width: 22vw">
  <!-- Header: Salon Info -->
  <div class="d-flex align-items-center mb-2">
    <img src="logo.jpg" alt="Salon" class="rounded" width="60" height="60" />
    <div class="ms-3">
      <h6 class="fw-bold mb-1">Regal Nails & Spa</h6>
      <small class="text-muted">1942 Parkedale Ave, Brockville</small>
    </div>
  </div>

  <hr class="my-2" />

  <!-- Service Item -->
  @if (listServiceSelected().length == 0) {
  <div class="notice">
    Thank you for choosing us! We’re excited to help you find the perfect
    service.
  </div>
  } @else {
  <div class="list-service">
    @for (mainService of listServiceSelected(); track $index) {
    <div class="d-flex justify-content-between align-items-start mb-3">
      <div>
        <div>{{ mainService.name }}</div>
        <small class="text-muted">{{ mainService.durationTime | duration:'string' }}</small>
      </div>
      <div>CAD {{ mainService.price }}</div>
    </div>
    @for (subService of mainService.subServices; track $index) {
    <div class="d-flex justify-content-between align-items-start mb-3">
      <div>
        <div>{{ subService.name }}</div>
        <small class="text-muted">{{ subService.durationTime | duration:'string' }}</small>
      </div>
      <div>CAD {{ subService.price }}</div>
    </div>
    } }
  </div>
  }

  <hr class="my-2" />

  <!-- Total -->
  @if (totalMoney() !== 0) {
  <div class="d-flex justify-content-between fw-bold mb-3">
    <div>Total</div>

    <div>
      CAD {{ totalMoney() }} - {{ totalDuration() | duration : "number" }}
    </div>
  </div>
  }

  <!-- Continue Button -->
  @if (currentStep() !== 4 && totalMoney() !== 0) {
  <button class="btn btn-primary w-100 mb-2" (click)="onNextStep()" [disabled]="this.bookingStateService.selectedHour() === '' && currentStep() === 3">
    Continue</button
  >} @if (currentStep() !== 1) {
  <button class="btn btn-secondary w-100" (click)="onPrevStep()">
    Previous</button
  >}
</div>
