<div class="dialog-backdrop" (click)="closeDialog()"></div>
<div class="dialog">
  <h2>Create New Staff</h2>
  <form [formGroup]="staffCreateForm" (ngSubmit)="onSubmit()">
    <input
      type="text"
      name="name"
      placeholder="Name"
      formControlName="name"
    />
    <input
      type="email"
      name="email"
      placeholder="Email"
      formControlName="email"
    />
    <div class="input-group">
      <input
        [type]="showPassword() ? 'text' : 'password'"
        name="password"
        placeholder="Password"
        formControlName="password"
      />
      <span class="toggle-password" (click)="onShowPassword()">
        @if (showPassword()) {
            🙈
        } @else {
            👁️
        }
      </span>
    </div>

    <select name="role" formControlName="role">
      <option value="ADMIN">ADMIN</option>
      <option value="MEMBER">STAFF</option>
    </select>
    <textarea
      name="description"
      placeholder="Description"
      formControlName="description"
    ></textarea>
    <div class="switch-label">
      <span>Staff Active</span>
      <label class="switch">
        <input
          type="checkbox"
          name="staffActive"
          formControlName="staffActive"
        />
        <span class="slider"></span>
      </label>
    </div>

    <div class="actions">
      <button type="submit" 
      [class.disabled]="this.staffCreateForm.invalid"
      [disabled]="this.staffCreateForm.invalid"
      >Create</button>
      <button type="button" (click)="closeDialog()">Cancel</button>
    </div>
  </form>
</div>
