<div class="service-item">
  <input type="checkbox" class="checkbox" [checked]="isChecked()">
  <div class="service-details">
    <div class="service-header">
      <div class="service-name">
        {{subServiceData().name}}
      </div>
      <div class="service-price">CAD {{subServiceData().price}}</div>
    </div>
    <div class="service-meta">
      <span>{{subServiceData().durationTime | duration:'string'}}</span>
      <span>{{subServiceData().priceType}}</span>
    </div>
  </div>
</div>
